force-app/main/default/flows/Auto_New_Quest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_to_Game_Step_Collection</name>
        <label>Add to Game Step Collection</label>
        <locationX>270</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>newGameStepCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newGameStepIterator</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Step_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Next_Quest</name>
        <label>Assign to Next Quest</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>theNextQuest</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_First_Quest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reached_Step_Max</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Next_Quest_2</name>
        <label>Assign to Next Quest 2</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>theNextQuest</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Next_Quest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reached_Step_Max</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Step_Counter</name>
        <label>Increment Step Counter</label>
        <locationX>270</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>newStepCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Game_Steps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_New_Step</name>
        <label>Init New Step</label>
        <locationX>270</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>newGameStepIterator.Game__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gameId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Game_Step_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Previous_Quest_Null</name>
        <label>Previous Quest Null?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Next_Quest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Previous_Quest_Null_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>previousQuestId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_First_Quest</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reached_Step_Max</name>
        <label>Reached Step Max?</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Init_New_Step</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reached_Step_Max_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newStepCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>newStepMax</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Game_Steps</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Auto : Create Quest {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto : New Quest</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Game_Steps</name>
        <label>Create Game Steps</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <inputReference>newGameStepCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_First_Quest</name>
        <label>Get First Quest</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_Next_Quest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PreviousQuest__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quest__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Next_Quest</name>
        <label>Get Next Quest</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_Next_Quest_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PreviousQuest__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>previousQuestId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quest__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Previous_Quest_Null</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>gameId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newGameStepCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GameStep__c</objectType>
    </variables>
    <variables>
        <name>newGameStepIterator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GameStep__c</objectType>
    </variables>
    <variables>
        <name>newStepCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>newStepMax</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>theNextQuest.MaxSteps__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>previousQuestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>theNextQuest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quest__c</objectType>
    </variables>
</Flow>
