force-app/main/default/flows/YCDRPG_Play.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_First_Game_Character</name>
        <label>Get First Game Character</label>
        <locationX>2118</locationX>
        <locationY>782</locationY>
        <actionName>GetNthCollectionItemInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>s4</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>GameCharacter__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__record</typeName>
            <typeValue>GameCharacter__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>Get_Living_Game_Characters</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetNthCollectionItemInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Game_Character_Sequence</name>
        <label>Get Game Character Sequence</label>
        <locationX>2118</locationX>
        <locationY>1106</locationY>
        <actionName>GetRandomNumberInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Hit_Character</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>max</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>min</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>GetRandomNumberInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Hit_Character</name>
        <label>Hit Character</label>
        <locationX>2118</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Get_First_Game_Character.record.HitPoints__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Get_Monster_Damage.damage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_First_Game_Character.record.Sequence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Game_Character_Sequence</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Character_Dead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Hit_Monster</name>
        <label>Hit Monster</label>
        <locationX>1370</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Get_Selected_Step_Monster_Details.HitPoints__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Get_Character_Damage.damage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Monster_Dead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Turn_Status</name>
        <label>Set Turn Status</label>
        <locationX>1084</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>Get_Turn.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End_Turn</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Living_Monsters</name>
        <label>Any Living Monsters?</label>
        <locationX>1590</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Set_Turn_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Any_Living_Monsters_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Living_Monsters</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>s3</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Next_Step</name>
        <label>Create Next Step?</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Set_Quest_to_Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Create_Next_Step_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Game_Quest_Step.IsLastQuestStep__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Step</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Character_Dead</name>
        <label>Is Character Dead?</label>
        <locationX>2118</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Save_Game_Character</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Character_Dead_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_First_Game_Character.record.HitPoints__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Pending_Character_Turns</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Monster_Dead</name>
        <label>Monster Dead?</label>
        <locationX>1370</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Update_Selected_Step_Monste</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Monster_Dead_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Selected_Step_Monster_Details.HitPoints__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Pending_Monster_Turns</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Turn_Type</name>
        <label>Turn Type</label>
        <locationX>1084</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Get_First_Game_Character</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Monster</defaultConnectorLabel>
        <rules>
            <name>No_Living_Characters</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Living_Game_Characters</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Step_to_Failure</targetReference>
            </connector>
            <label>No Living Characters</label>
        </rules>
        <rules>
            <name>No_Living_Monsters</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Living_Monsters</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Step_to_Success</targetReference>
            </connector>
            <label>No Living Monsters</label>
        </rules>
        <rules>
            <name>No_Turn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Turn</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Round_to_Success</targetReference>
            </connector>
            <label>No Turn</label>
        </rules>
        <rules>
            <name>Turn_Type_Character</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Turn.Actor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Character</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Any_Living_Monsters</targetReference>
            </connector>
            <label>Character</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>livingMonsterChoices</name>
        <collectionReference>Get_Living_Monsters</collectionReference>
        <dataType>String</dataType>
        <displayField>MonsterName__c</displayField>
        <object>GameQuestStepMonster__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>livingStepMonsters</name>
        <dataType>String</dataType>
        <displayField>MonsterName__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GameQuestStep__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Turn.GameQuestStepRound__r.GameQuestStep__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>HitPoints__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>GameQuestStepMonster__c</object>
        <outputAssignments>
            <assignToReference>selectedMonsterHitPoints</assignToReference>
            <field>HitPoints__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>YCDRPG : Play {!$Flow.CurrentDateTime}</interviewLabel>
    <label>YCDRPG : Play</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Pending_Character_Turns</name>
        <label>Delete Pending Character Turns</label>
        <locationX>1986</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Save_Game_Character</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GameCharacter__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_First_Game_Character.record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <object>GameQuestStepRoundTurn__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Pending_Monster_Turns</name>
        <label>Delete Pending Monster Turns</label>
        <locationX>1106</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Update_Selected_Step_Monste</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Selected_Step_Monste</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GameQuestStepMonster__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Pick_a_Monster</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <object>GameQuestStepRoundTurn__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Game_Quest_Step</name>
        <label>Get Game Quest Step</label>
        <locationX>1084</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Round</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Game__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>gameId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GameQuestStep__c</object>
        <sortField>Sequence__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Living_Game_Characters</name>
        <label>Get Living Game Characters</label>
        <locationX>1084</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Living_Monsters</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Game__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>gameId</elementReference>
            </value>
        </filters>
        <filters>
            <field>HitPoints__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GameCharacter__c</object>
        <sortField>Sequence__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Living_Monsters</name>
        <label>Get Living Monsters</label>
        <locationX>1084</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Turn_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GameQuestStep__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Game_Quest_Step.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>HitPoints__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GameQuestStepMonster__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Round</name>
        <label>Get Round</label>
        <locationX>1084</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Turn</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GameQuestStep__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Game_Quest_Step.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GameQuestStepRound__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Step_Monster_Details</name>
        <label>Get Selected Step Monster Details</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Character_Damage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Pick_a_Monster</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GameQuestStepMonster__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Turn</name>
        <label>Get Turn</label>
        <locationX>1084</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Living_Game_Characters</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Game__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>gameId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GameQuestStepRoundTurn__c</object>
        <sortField>Sequence__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>End_Turn</name>
        <label>End Turn</label>
        <locationX>1084</locationX>
        <locationY>2054</locationY>
        <connector>
            <targetReference>s1</targetReference>
        </connector>
        <inputReference>Get_Turn</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Save_Game_Character</name>
        <label>Save Game Character</label>
        <locationX>2118</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>Set_Turn_Status</targetReference>
        </connector>
        <inputReference>Get_First_Game_Character.record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Game_to_Failure</name>
        <label>Set Game to Failure</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Set_Turn_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Game_Quest_Step.Game__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Failure</stringValue>
            </value>
        </inputAssignments>
        <object>Game__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Quest_to_Failure</name>
        <label>Set Quest to Failure</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Set_Game_to_Failure</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Game_Quest_Step.GameQuest__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Failure</stringValue>
            </value>
        </inputAssignments>
        <object>GameQuest__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Quest_to_Success</name>
        <label>Set Quest to Success</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Set_Turn_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Game_Quest_Step.GameQuest__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputAssignments>
        <object>GameQuest__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Round_to_Success</name>
        <label>Set Round to Success</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>s5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Round.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputAssignments>
        <object>GameQuestStepRound__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Step_to_Failure</name>
        <label>Set Step to Failure</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Set_Quest_to_Failure</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Game_Quest_Step.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Failure</stringValue>
            </value>
        </inputAssignments>
        <object>GameQuestStep__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Step_to_Success</name>
        <label>Set Step to Success</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Create_Next_Step</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Game_Quest_Step.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputAssignments>
        <object>GameQuestStep__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Selected_Step_Monste</name>
        <label>Update Selected Step Monste</label>
        <locationX>1370</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>Set_Turn_Status</targetReference>
        </connector>
        <inputReference>Get_Selected_Step_Monster_Details</inputReference>
    </recordUpdates>
    <screens>
        <name>s1</name>
        <label>s1</label>
        <locationX>1084</locationX>
        <locationY>2162</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Game_Quest_Step</targetReference>
        </connector>
        <fields>
            <name>dt1</name>
            <fieldText>&lt;p&gt;DONE - SHOW TURN SUMMARY STUFF&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>s3</name>
        <label>s3</label>
        <locationX>1370</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Selected_Step_Monster_Details</targetReference>
        </connector>
        <fields>
            <name>dt2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!Get_Turn.GameCharacter__r.Character__r.Name}&apos;s TURN&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Pick_a_Monster</name>
            <choiceReferences>livingStepMonsters</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pick a Monster</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>s3_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s3_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s3_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>gameCharacterRepeater</name>
                    <extensionName>c:gameCharacterRepeater</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>gameCharacterRecords</name>
                        <value>
                            <elementReference>Get_Living_Game_Characters</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentTurnRecord</name>
                        <value>
                            <elementReference>Get_Turn</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>s4</name>
        <label>s4</label>
        <locationX>2118</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Monster_Damage</targetReference>
        </connector>
        <fields>
            <name>dt3</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!Get_Turn.GameQuestStepMonster__r.Monster__r.Name}&apos;s TURN&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dt4</name>
            <fieldText>&lt;p&gt;Monster Attacks {!Get_First_Game_Character.record.Character__r.Name}!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>s5</name>
        <label>s5</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Round</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_dt2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;NO MORE TURNS. NEED NEW ROUND.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;TODO: MARK ROUND STATUS SUCCESS&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>958</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Game_Quest_Step</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Create_Round</name>
        <label>Create Round</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Game_Quest_Step</targetReference>
        </connector>
        <flowName>YCDRPG_New_Game_Quest_Step_Round</flowName>
        <inputAssignments>
            <name>gameQuestStepId</name>
            <value>
                <elementReference>Get_Game_Quest_Step.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Character_Damage</name>
        <label>Get Character Damage</label>
        <locationX>1370</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Hit_Monster</targetReference>
        </connector>
        <flowName>YCDRPG_Calculate_Damage</flowName>
        <inputAssignments>
            <name>attackerDMG</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>attackerXP</name>
            <value>
                <elementReference>Get_Turn.GameCharacter__r.ExperiencePoints__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>defenderDEF</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>defenderXP</name>
            <value>
                <elementReference>Get_Selected_Step_Monster_Details.ExperiencePoints__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Monster_Damage</name>
        <label>Get Monster Damage</label>
        <locationX>2118</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Get_Game_Character_Sequence</targetReference>
        </connector>
        <flowName>YCDRPG_Calculate_Damage</flowName>
        <inputAssignments>
            <name>attackerDMG</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>attackerXP</name>
            <value>
                <elementReference>Get_Selected_Step_Monster_Details.ExperiencePoints__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>defenderDEF</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>defenderXP</name>
            <value>
                <elementReference>Get_First_Game_Character.record.ExperiencePoints__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>New_Step</name>
        <label>New Step</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Game_Quest_Step</targetReference>
        </connector>
        <flowName>YCDRPG_New_Game_Quest_Step</flowName>
        <inputAssignments>
            <name>gameQuestId</name>
            <value>
                <elementReference>Get_Game_Quest_Step.GameQuest__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>currentItem_Filter_Living_Monsters</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GameQuestStepMonster__c</objectType>
    </variables>
    <variables>
        <name>firstGameCharacter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GameCharacter__c</objectType>
    </variables>
    <variables>
        <name>gameId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedMonsterHitPoints</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
