force-app/main/default/flows/YCDRPG_New_Game_Quest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_First_Quest_Steps</name>
        <label>Get First Quest Steps</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <actionName>GetRandomNumberInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Init_Game_Quest</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>max</name>
            <value>
                <elementReference>Get_First_Quest.MaxSteps__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>min</name>
            <value>
                <elementReference>Get_First_Quest.MinSteps__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetRandomNumberInvocable</nameSegment>
        <outputParameters>
            <assignToReference>steps</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Next_Quest_Steps</name>
        <label>Get Next Quest Steps</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <actionName>GetRandomNumberInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Init_Game_Quest</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>max</name>
            <value>
                <elementReference>Get_Next_Quest.MaxSteps__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>min</name>
            <value>
                <elementReference>Get_Next_Quest.MinSteps__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetRandomNumberInvocable</nameSegment>
        <outputParameters>
            <assignToReference>steps</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Copy_1_of_Init_Game_Quest</name>
        <label>Copy 1 of Init Game Quest</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>newGameQuest.Game__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Game.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newGameQuest.Quest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_First_Quest.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newGameQuest.Steps__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>steps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Game_Quest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_Game_Quest</name>
        <label>Init Game Quest</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>newGameQuest.Game__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Game.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newGameQuest.Quest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Next_Quest.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newGameQuest.Steps__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>steps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Game_Quest</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Latest_Quest</name>
        <label>Has Latest Quest?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_First_Quest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Latest_Quest_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_Game_Quest</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Latest_Game_Quest.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Next_Quest</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>YCDRPG : New Game Quest {!$Flow.CurrentDateTime}</interviewLabel>
    <label>YCDRPG : New Game Quest</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Game_Quest</name>
        <label>Create Game Quest</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>New_Game_Quest_Step</targetReference>
        </connector>
        <inputReference>newGameQuest</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_First_Quest</name>
        <label>Get First Quest</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_First_Quest_Steps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PreviousQuest__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quest__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Game</name>
        <label>Get Game</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Latest_Game_Quest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>gameId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Game__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Game_Quest</name>
        <label>Get Latest Game Quest</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Latest_Quest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Game__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Game.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GameQuest__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Next_Quest</name>
        <label>Get Next Quest</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Next_Quest_Steps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PreviousQuest__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Latest_Game_Quest.Quest__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quest__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Game</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>New_Game_Quest_Step</name>
        <label>New Game Quest Step</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <flowName>YCDRPG_New_Game_Quest_Step</flowName>
        <inputAssignments>
            <name>gameQuestId</name>
            <value>
                <elementReference>newGameQuest.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>gameId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newGameQuest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GameQuest__c</objectType>
    </variables>
    <variables>
        <name>steps</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
