force-app/main/default/flows/YCDRPG_New_Game_Quest_Step_Round_Turns.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Random_Game_Character_Sequence</name>
        <label>Get Random Game Character Sequence</label>
        <locationX>264</locationX>
        <locationY>1190</locationY>
        <actionName>GetRandomNumberInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Init_Updated_Game_Character</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>max</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>min</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>GetRandomNumberInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Random_Game_Character_Turn_Sequence</name>
        <label>Get Random Game Character Turn Sequence</label>
        <locationX>264</locationX>
        <locationY>1082</locationY>
        <actionName>GetRandomNumberInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Random_Game_Character_Sequence</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>max</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>min</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>GetRandomNumberInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Random_Sequence</name>
        <label>Get Random Sequence</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <actionName>GetRandomNumberInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Init_New_Game_Quest_Step_Round_Turn</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>max</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>min</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>GetRandomNumberInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_To_Collection</name>
        <label>Add To Collection</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>newGameQuestStepRoundTurns</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newGameQuestStepRoundTurnIterator</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Game_Quest_Step_Monsters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Collection2</name>
        <label>Add To Collection</label>
        <locationX>264</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>newGameQuestStepRoundTurns</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newGameQuestStepRoundTurnIterator</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Game_Characters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Updated_Game_Characters_Collection</name>
        <label>Add to Updated Game Characters Collection</label>
        <locationX>264</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>updateGameCharacters</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updatedGameCharacterIterator</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Init_New_Game_Quest_Step_Round_Turn2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_New_Game_Quest_Step_Round_Turn</name>
        <label>Init New Game Quest Step Round Turn</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>newGameQuestStepRoundTurnIterator.Game__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Game_Quest_Step_Round.Game__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newGameQuestStepRoundTurnIterator.GameQuestStepRound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Game_Quest_Step_Round.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newGameQuestStepRoundTurnIterator.GameQuestStepMonster__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Game_Quest_Step_Monsters.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newGameQuestStepRoundTurnIterator.Actor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Monster</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newGameQuestStepRoundTurnIterator.Sequence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Random_Sequence</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_New_Game_Quest_Step_Round_Turn2</name>
        <label>Init New Game Quest Step Round Turn</label>
        <locationX>264</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>newGameQuestStepRoundTurnIterator.Game__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Game_Characters.Game__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newGameQuestStepRoundTurnIterator.GameQuestStepRound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Game_Quest_Step_Round.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newGameQuestStepRoundTurnIterator.GameCharacter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Game_Characters.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newGameQuestStepRoundTurnIterator.Actor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Character</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newGameQuestStepRoundTurnIterator.Sequence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Random_Game_Character_Turn_Sequence</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newGameQuestStepRoundTurnIterator.GameQuestStepMonster__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_Updated_Game_Character</name>
        <label>Init Updated Game Character</label>
        <locationX>264</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>updatedGameCharacterIterator.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Game_Characters.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedGameCharacterIterator.Sequence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Random_Game_Character_Sequence</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Updated_Game_Characters_Collection</targetReference>
        </connector>
    </assignments>
    <description>2023-12-01 - adjusting game character sequence approach</description>
    <environments>Default</environments>
    <interviewLabel>YCDRPG : New Game Quest Step Round Turns {!$Flow.CurrentDateTime}</interviewLabel>
    <label>YCDRPG : New Game Quest Step Round Turns</label>
    <loops>
        <name>Loop_Game_Characters</name>
        <label>Loop Game Characters</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <collectionReference>Get_Game_Characters</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Random_Game_Character_Turn_Sequence</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Turns</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Game_Quest_Step_Monsters</name>
        <label>Loop Game Quest Step Monsters</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Game_Quest_Step_Monsters</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Random_Sequence</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Game_Characters</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Turns</name>
        <label>Create Turns</label>
        <locationX>176</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Update_Game_Characters</targetReference>
        </connector>
        <inputReference>newGameQuestStepRoundTurns</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Game_Characters</name>
        <label>Get Game Characters</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Game_Characters</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Game__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Game_Quest_Step_Round.Game__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>HitPoints__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GameCharacter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Game_Quest_Step_Monsters</name>
        <label>Get Game Quest Step Monsters</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Game_Quest_Step_Monsters</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GameQuestStep__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Game_Quest_Step_Round.GameQuestStep__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>HitPoints__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GameQuestStepMonster__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Game_Quest_Step_Round</name>
        <label>Get Game Quest Step Round</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Game_Quest_Step_Monsters</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>gameQuestStepRoundId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GameQuestStepRound__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Game_Characters</name>
        <label>Update Game Characters</label>
        <locationX>176</locationX>
        <locationY>1922</locationY>
        <inputReference>updateGameCharacters</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Game_Quest_Step_Round</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>gameQuestStepRoundId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newGameQuestStepRoundTurnIterator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GameQuestStepRoundTurn__c</objectType>
    </variables>
    <variables>
        <name>newGameQuestStepRoundTurns</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GameQuestStepRoundTurn__c</objectType>
    </variables>
    <variables>
        <name>updatedGameCharacterIterator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GameCharacter__c</objectType>
    </variables>
    <variables>
        <name>updateGameCharacters</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GameCharacter__c</objectType>
    </variables>
</Flow>
