force-app/main/default/flows/YCDRPG_New_Game_Quest_Step.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Create_New_Game_Quest_Step</name>
        <label>Create New Game Quest Step?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_New_Game_Quest_Step_Yes</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_Game_Quest_Step</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Latest_Game_Quest_Step.Sequence__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Get_Game_Quest.Steps__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Latest_Game_Quest_Step.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Game_Step_Quest</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>YCDRPG : New Game Quest Step {!$Flow.CurrentDateTime}</interviewLabel>
    <label>YCDRPG : New Game Quest Step</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Game_Step_Quest</name>
        <label>Create New Game Step Quest</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>New_Game_Quest_Step_Monsters</targetReference>
        </connector>
        <inputAssignments>
            <field>GameQuest__c</field>
            <value>
                <elementReference>Get_Game_Quest.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Game__c</field>
            <value>
                <elementReference>Get_Game_Quest.Game__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sequence__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>GameQuestStep__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Game_Quest</name>
        <label>Get Game Quest</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Latest_Game_Quest_Step</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>gameQuestId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GameQuest__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Game_Quest_Step</name>
        <label>Get Latest Game Quest Step</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Game_Quest_Step</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GameQuest__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Game_Quest.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GameQuestStep__c</object>
        <sortField>Sequence__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Game_Quest</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>New_Game_Quest_Step_Monsters</name>
        <label>New Game Quest Step Monsters</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>New_Game_Quest_Step_Round</targetReference>
        </connector>
        <flowName>YCDRPG_New_Game_Quest_Step_Monsters</flowName>
        <inputAssignments>
            <name>gameQuestStepId</name>
            <value>
                <elementReference>Create_New_Game_Step_Quest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>maxMonsters</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>New_Game_Quest_Step_Round</name>
        <label>New Game Quest Step Round</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <flowName>YCDRPG_New_Game_Quest_Step_Round</flowName>
        <inputAssignments>
            <name>gameQuestStepId</name>
            <value>
                <elementReference>Create_New_Game_Step_Quest</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>gameQuestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
