force-app/main/default/flows/YCDRPG_New_Game_Quest_Step_Monsters.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_HP</name>
        <label>Get HP</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <actionName>GetRandomNumberInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_XP</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>max</name>
            <value>
                <elementReference>Loop_Monsters.MaxHitPoints__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>min</name>
            <value>
                <elementReference>Loop_Monsters.MinHitPoints__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetRandomNumberInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_XP</name>
        <label>Get XP</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <actionName>GetRandomNumberInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Init_New_GameQuestStepMonster</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>max</name>
            <value>
                <elementReference>Loop_Monsters.MaxExperiencePoints__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>min</name>
            <value>
                <elementReference>Loop_Monsters.MinExperiencePoints__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetRandomNumberInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_To_Collection</name>
        <label>Add To Collection</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>newGameQuestStepMonsterCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newGameQuestStepMonsterIterator</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Monsters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_New_GameQuestStepMonster</name>
        <label>Init New GameQuestStepMonster</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>newGameQuestStepMonsterIterator.GameQuestStep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gameQuestStepId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newGameQuestStepMonsterIterator.Monster__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Monsters.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newGameQuestStepMonsterIterator.HitPoints__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_HP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newGameQuestStepMonsterIterator.ExperiencePoints__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_XP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>YCDRPG : New Game Quest Step Monsters {!$Flow.CurrentDateTime}</interviewLabel>
    <label>YCDRPG : New Game Quest Step Monsters</label>
    <loops>
        <name>Loop_Monsters</name>
        <label>Loop Monsters</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Monsters</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_HP</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Records</name>
        <label>Create Records</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <inputReference>newGameQuestStepMonsterCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Monsters</name>
        <label>Get Monsters</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Monsters</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Monster__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Monsters</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>gameQuestStepId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>maxMonsters</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>monsterHP</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>monsterIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>monsterXP</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>newGameQuestStepMonsterCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>GameQuestStepMonster__c</objectType>
    </variables>
    <variables>
        <name>newGameQuestStepMonsterIterator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GameQuestStepMonster__c</objectType>
    </variables>
</Flow>
