force-app/main/default/flows/YCDRPG_New_Game.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Character_to_New_Collection</name>
        <label>Add Character to New Collection</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>newCharactersCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>characterIterator</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Character_to_Selected_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Character_to_Selected_Collection</name>
        <label>Add Character to Selected Collection</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>selectedCharactersCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>characterIterator</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Done_Adding_Characters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Game_Character_Collection</name>
        <label>Add to Game Character Collection</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>newGameCharactersCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>gameCharacterIterator</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Characters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Game_Character_Collection_2</name>
        <label>Add to Game Character Collection 2</label>
        <locationX>138</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>newGameCharactersCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>gameCharacterIterator</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_New_Characters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_Character_from_Existing</name>
        <label>Init Character from Existing</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>characterIterator.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>charactersLookup.recordName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>characterIterator.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>charactersLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Character_to_Selected_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_Character_New</name>
        <label>Init Character New</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>characterIterator.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newCharacterNameText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Character_to_New_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_Game_Character</name>
        <label>Init Game Character</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>gameCharacterIterator.Character__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Characters.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>gameCharacterIterator.Game__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newGame.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>gameCharacterIterator.HitPoints__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>50.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Game_Character_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_Game_Character_2</name>
        <label>Init Game Character 2</label>
        <locationX>138</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>gameCharacterIterator.Character__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Characters.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>gameCharacterIterator.Game__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newGame.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>gameCharacterIterator.HitPoints__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>50.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Game_Character_Collection_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Game_Name</name>
        <label>Set Game Name</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>newGame.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newGameNameText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>How_Character_Added</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Done_Adding_Characters</name>
        <label>Done Adding Characters?</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>s1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Done_Adding_Characters_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>doneAddingCharactersCheckbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Game</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_Character_Added</name>
        <label>How Character Added</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Init_Character_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>How_Character_Added_Existing_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>charactersLookup.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Init_Character_from_Existing</targetReference>
            </connector>
            <label>Existing Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Id_Null</name>
        <label>Is Id Null?</label>
        <locationX>226</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Init_Game_Character</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Id_Null_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Selected_Characters.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Selected_Characters</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>2023-11-14 - default Game Characters to 50HP
Screen Flow that begins a new YCDRPG game.</description>
    <environments>Default</environments>
    <interviewLabel>YCDRPG : New Game {!$Flow.CurrentDateTime}</interviewLabel>
    <label>YCDRPG : New Game</label>
    <loops>
        <name>Loop_New_Characters</name>
        <label>Loop New Characters</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <collectionReference>newCharactersCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Init_Game_Character_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Game_Characters</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected_Characters</name>
        <label>Loop Selected Characters</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <collectionReference>selectedCharactersCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Id_Null</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_New_Characters</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Game</name>
        <label>Create Game</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Create_New_Characters</targetReference>
        </connector>
        <inputReference>newGame</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Game_Characters</name>
        <label>Create Game Characters</label>
        <locationX>50</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>New_Game_Quest</targetReference>
        </connector>
        <inputReference>newGameCharactersCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Characters</name>
        <label>Create New Characters</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Loop_Selected_Characters</targetReference>
        </connector>
        <inputReference>newCharactersCollection</inputReference>
    </recordCreates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>s1</name>
        <label>s1</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Game_Name</targetReference>
        </connector>
        <fields>
            <name>newGameNameSection</name>
            <fieldText>New Game Name</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>newGameNameSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>newGameNameText</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>newGame.Name</elementReference>
                    </defaultValue>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>addPlayerSection</name>
            <fieldText>Add a Player</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>addPlayerSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>newCharacterNameText</name>
                    <dataType>String</dataType>
                    <fieldText>New Character Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>addPlayerSection_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dt2</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;...OR...&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>addPlayerSection_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>charactersLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>GameCharacter__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Character__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Choose Existing Character...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>selectedCharactersSection</name>
            <fieldText>Selected Characters</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>selectedCharactersSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>addCharactersDataTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Character__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Selected Characters</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>selectedCharactersCollection</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-6f16&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Character Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>doneAddingCharactersCheckbox</name>
            <dataType>Boolean</dataType>
            <fieldText>I&apos;m done adding Characters, thank you very much.</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>s1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>New_Game_Quest</name>
        <label>New Game Quest</label>
        <locationX>50</locationX>
        <locationY>2306</locationY>
        <flowName>YCDRPG_New_Game_Quest</flowName>
        <inputAssignments>
            <name>gameId</name>
            <value>
                <elementReference>newGame.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>characterIterator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Character__c</objectType>
    </variables>
    <variables>
        <name>gameCharacterIterator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GameCharacter__c</objectType>
    </variables>
    <variables>
        <name>newCharactersCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Character__c</objectType>
    </variables>
    <variables>
        <name>newGame</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Game__c</objectType>
    </variables>
    <variables>
        <name>newGameCharactersCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GameCharacter__c</objectType>
    </variables>
    <variables>
        <name>selectedCharactersCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Character__c</objectType>
    </variables>
</Flow>
