force-app/main/default/flows/YCDRPG_New_Game_Quest_Step_Round.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Init_New_Game_Quest_Step_Round</name>
        <label>Init New Game Quest Step Round</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>newGameQuestStepRound.GameQuestStep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Game_Quest_Step.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newGameQuestStepRound.Game__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Game_Quest_Step.Game__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Game_Quest_Step_Round</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_New_Round</name>
        <label>Create New Round?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_New_Round_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_Round</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Game_Quest_Step.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Init_New_Game_Quest_Step_Round</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>YCDRPG : New Game Step Quest Round {!$Flow.CurrentDateTime}</interviewLabel>
    <label>YCDRPG : New Game Step Quest Round</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Game_Quest_Step_Round</name>
        <label>Create New Game Quest Step Round</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>New_Game_Quest_Step_Round_Turns</targetReference>
        </connector>
        <inputReference>newGameQuestStepRound</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Game_Quest_Step</name>
        <label>Get Game Quest Step</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Latest_Round</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>gameQuestStepId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GameQuestStep__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Round</name>
        <label>Get Latest Round</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Round</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GameQuestStep__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Game_Quest_Step.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GameQuestStepRound__c</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Game_Quest_Step</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>New_Game_Quest_Step_Round_Turns</name>
        <label>New Game Quest Step Round Turns</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <flowName>YCDRPG_New_Game_Quest_Step_Round_Turns</flowName>
        <inputAssignments>
            <name>gameQuestStepRoundId</name>
            <value>
                <elementReference>newGameQuestStepRound.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>gameQuestStepId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newGameQuestStepRound</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>GameQuestStepRound__c</objectType>
    </variables>
</Flow>
